/* index.html CSS */
body,
        p {
            font-family: "NanumSquareRoundEB";
            animation: fadein 0.2s;
        }

        .nav-main {
            padding: 15px;
            display: block;
            width: 100%;
            margin: 0 auto;
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
            background-color: white;
        }

        @media (max-width: 991px) {
            #logoImg {
                width: 150px;
                height: 41px;
            }
        }

        .nav-item {
            margin-right: 25px;
            cursor: pointer;
        }


        .banner_nav {
            margin: 0 auto;
            z-index: 100
        }

        .banner-nav-container {
            text-align: center;
            font-family: "NanumSquareRoundEB";
            font-size: 17px;
            list-style-type: none;
            display: flex;
            justify-content: center;
            flex-direction: row;
            padding: 10px;
            box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
        }

        .banner-nav-item {
            width: 270px;
            margin-right: 3px;
            height: 40px;
            line-height: 2.5em;
            text-align: center;
            animation: fadein 0.3s;
        }

        .banner-nav-item a {
            color: rgb(119, 119, 119);
            text-decoration: none;
            font-weight: 700;
            opacity: 1;
        }

        .banner-nav-item a:after {
            content: '';
            display: block;
            width: 50%;
            border-bottom: 2px solid;
            margin: 0 auto;
            opacity: 0;
            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.3s, transform 0.3s;
            -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
        }

        .banner-nav-item a:hover:after {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }

        .banner-nav-item a:focus {
            color: rgb(27, 73, 172);
            opacity: 1;
            text-decoration: none;
            font-weight: 700;
        }



        @media (max-width: 991px) {
            .banner-nav-container {
                text-align: center;
                font-family: "NanumSquareRoundEB";
                font-size: 16px;
                list-style-type: none;
                display: flex;
                justify-content: center;
                flex-direction: row;
                padding: 5px;
                box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
            }

            .banner-nav-item {
                width: 270px;
                margin-top: 1em;
                margin-right: 2px;
                height: 30px;
                line-height: 1em;
                text-align: center;
                background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.17));
                animation: fadein 0.3s;
                border-radius: 5px;
            }

            .banner-nav-item a:after {
                content: '';
                display: block;
                width: 50%;
                border-bottom: 2px solid;
                margin-top:0.5em;
                opacity: 0;
                -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
                transition: opacity 0.3s, transform 0.3s;
                -webkit-transform: scale(0, 1);
                transform: scale(0, 1);
            }

            .banner-nav-item a:hover:after {
                opacity: 1;
                -webkit-transform: scale(1);
                transform: scale(1);
            }
        }


        .nav-item {
            color: gray;
            text-decoration: none;
            font-weight: 700;
        }

        a:hover {
            color: rgb(27, 73, 172);
            text-decoration: none;
        }

        a:focus {
            color: rgb(27, 73, 172);
            text-decoration: none;
        }

        nav ul li:first-child {
            border-left: none;
        }

        .login_section {
            height: 40%;
            position: absolute;
            top: 0;
            right: 0;
            margin-top: 1.8em;
            padding: 5px;
            background-color: white;
        }

        .menu_click {
            float: right
        }

        #addingDiv {
            width: 160px;
            height: 220px;
            background-color: white;
            border-radius: 7px;
            z-index: 1;
            position: fixed;
            top: 50px;
            right: 0;
            box-shadow: 0px 1px 1px lightgray;
            padding: 15px;
        }

        .banner_img {
            text-align: center;
            margin-top: 5em;
        }

        @keyframes fadein {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }