<!DOCTYPE html>
<meta charset="utf-8">

<html>
<meta charset="UTF-8">

<head>
    <script type="text/javascript" src="../static/js/jquery-3.5.0.min.js"></script>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/font.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
    <title>KNU CSE PUZZLE</title>

    <style>
        body,
        p {
            font-family: "NanumSquareRoundB";
            animation: fadein 0.5s;
        }

        #banner {
            width: 100%;
            height: 150px;
            max-width: 1400px;
            background-color: lightgray;
            margin-bottom: 1em;
        }

        .infoSection {
            width: 49%;
            max-width: 900px;
            height: 680px;
            border: 1px solid lightgray;
            border-radius: 8px;
            padding: 5px;
        }

        .infoSection_all {
            width: 49%;
            max-width: 900px;
            max-height: 260px;
            border: 1px solid lightgray;
            border-radius: 8px;
            padding: 5px;
            margin-top: 15px;
        }

        #calcul_div {
            float: right;
            width: 49%;
            max-width: 900px;
            max-height: 680px;
            border-radius: 8px;
            padding: 5px;
            border: 1px solid lightgray;
            overflow: scroll;
        }

        #simple_right {
            float: right;
            width: 49%;
            max-width: 900px;
            height: 260px;
            border-radius: 8px;
            padding: 10px;
            border: 1px solid lightgray;
            background-color: rgb(240, 240, 240);
            margin-top: 15px;
        }

        #chartdiv {
            width: 100%;
            height: 500px;
        }

        #chartdiv2 {
            width: 100%;
            height: 350px;
        }

        @media (max-width: 991px) {
            .infoSection {
                margin:8px;
                float: left;
                width: 91%;
                border: 2px solid rgb(156, 156, 156);
                padding: 5px;
                margin-bottom: 10px;
            }

            .infoSection_all {
                margin:8px;
                float: left;
                width: 91%;
                max-width: 900px;
                max-height: 300px;
                border: 2px solid rgb(156, 156, 156);
                border-radius: 8px;
                padding: 5px;
            }

            #all_data_table {
                font-size: 11px;
            }

            .inputScores{
                width:100px;
            }

            table{
                width:100%;
                table-layout:fixed;
            }

            table thead tr{
                width:100%;
            }

            #calcul_div {
                margin:8px;
                float: left;
                width: 91%;
                height: 100%;
                border: 2px solid rgb(156, 156, 156);
                border-radius: 5px;
                padding: 5px;
                margin-bottom: 10px;
                overflow: scroll;
            }

            #simple_right {
                margin:8px;
                float: left;
                width: 91%;
                border: 2px solid rgb(156, 156, 156);
                height: 100%;
                border-radius: 5px;
                padding: 10px;
                background-color: rgb(240, 240, 240)
            }
        }

        @keyframes fadein {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }
    </style>
</head>

<body>
    <div id="content" style="max-width:1400px; margin:0 auto;">

        <!-- 사용자 졸업 충족 간단 확인 박스 -->

        <!-- 상세 학점정보 확인 박스 -->
        <div id="info2" class="infoSection" style="overflow:scroll; float:left">
            <p style="text-align:center; font-size :23px;
            border-radius:8px; padding:5px;
            color:white;
            background-color: rgb(27, 95, 151);">
                상세 학점정보 확인</p>

            <!-- 이수학점 및 평점 메인 -->
            <table class="table table-hover">
                <thead>
                    <th style="font-size:30px; text-align:center" width="50%">이수학점</th>
                    <th style="font-size:30px; text-align:center" width="50%">평점</th>
                </thead>
                <tbody>
                    <tr style="font-size: 23px; text-align:center">
                        <td>
                            <span style="color:teal">{{final_grade[0]}}</span> / 150
                        </td>
                        <td>
                            <span style="color:rgb(21, 79, 185)">{{final_grade[1]}}</span> / 4.3
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- 그래프로 시각화할 자료 -->
            <!-- Abeek 112학점 중 기본소양, 전공기반, 공학전공 학점 -->
            <p style="text-align:center; font-size :18px;
            border-radius:7px; padding:5px;
            color:rgb(19, 23, 48);
            background-color:rgb(233, 233, 233);">
                ABEEK (기본소양, 전공기반, 공학전공) 현황 </p>
            <div id="chartdiv"></div>
            <br><br>
            <!-- Abeek 112학점 중 기본소양, 전공기반, 공학전공 학점 -->
            <p style="text-align:center; font-size :18px;
            border-radius:7px; padding:5px;
            color:rgb(19, 23, 48);
            background-color:rgb(233, 233, 233);">
                ABEEK 필수과목 충족여부 </p>
            <div id="chartdiv2"></div>
            <br><br>
            <p style="text-align:center; font-size :18px;
            border-radius:7px; padding:5px;
            color:rgb(19, 23, 48);
            background-color:rgb(233, 233, 233);">
                수강하지 않은 필수과목 목록(설계과목 포함) </p>
            <table class="table table-hover">
                {% for tr in no_required %}
                <tr style="text-align:center">
                    <td>
                        {{tr}}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <!-- 학점 관련 계산 영역 -->
        <div id="calcul_div">
            <!-- 4.3->4.5 변환기 -->
            <p style="text-align:center; font-size :23px;
            border-radius:8px; padding:5px;
            color:white;
            background-color: rgb(96, 134, 126);">
                4.3 -> 4.5 학점 변환기
            </p>
            <div id="convertDiv" style="margin-top:10px; text-align:center;">
                <p style="text-align:center">경북대학교의 4.5만점제 환산표에 따른 변환 수치입니다.</p>
                <p style="text-align:center">왼쪽 칸에 4.3점제 학점을 입력하고 변환 버튼을 클릭하세요.</p>

                <input id="input_4_3"
                    style="border-radius:7px; text-align:center; font-size:25px; width:100px; height:100px;" type="text"
                    placeholder="4.3">
                <input value="변환 ▶" type="button" onclick="convert_grade()" class="btn btn-success btn-lg"></button>
                <input id="output_4_3" style="border-radius:7px; background-color:rgb(219, 241, 234);
                text-align:center; font-size:25px; width:100px; height:100px;" type="text" placeholder="4.5">
                <br><br>
            </div>
            <br>
            <!-- 전체 학점 계산기 -->
            <p style="text-align:center; font-size :23px;
            border-radius:8px; padding:5px;
            color:white;
            background-color: rgb(96, 134, 126);">전체 학점 계산기</p>
            <div id="convertDiv" style="margin-top:10px; text-align:center;">
                <p style="text-align:center">과목명, 점수, 학점을 입력하면 기존 성적에 추가된 새로운 평점을 알 수 있습니다. </p>

                <table id="calTable" class="table table-hover">
                        <colgroup>
                            <col width="33%">
                            <col width="33%">
                            <col width="33%">
                        </colgroup>
                    <thead>
                        <th style="text-align:center">
                            과목명
                        </th>
                        <th style="text-align:center">
                            점수
                        </th>
                        <th style="text-align:center">
                            학점
                        </th>
                    </thead>
                    <tr>
                        <td>
                            <input class="inputScores" id="subject_name1" type="text" />
                        </td>
                        <td>
                            <div class="form-group">
                                <select id="subject_select1" class="custom-select" style="width:130px">
                                    <option selected="">점수</option>
                                    <option value="1">A+</option>
                                    <option value="2">A0</option>
                                    <option value="3">A-</option>
                                    <option value="4">B+</option>
                                    <option value="5">B0</option>
                                    <option value="6">B-</option>
                                    <option value="7">C+</option>
                                    <option value="8">C0</option>
                                    <option value="9">C-</option>
                                    <option value="10">D+</option>
                                    <option value="11">D0</option>
                                    <option value="12">D-</option>
                                    <option value="13">F</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <input class="inputScores" id="subject_degree1" type="text" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="inputScores" id="subject_name2" type="text" />
                        </td>
                        <td>
                            <div class="form-group">
                                <select id="subject_select2" class="custom-select" style="width:130px">
                                    <option selected="">점수</option>
                                    <option value="1">A+</option>
                                    <option value="2">A0</option>
                                    <option value="3">A-</option>
                                    <option value="4">B+</option>
                                    <option value="5">B0</option>
                                    <option value="6">B-</option>
                                    <option value="7">C+</option>
                                    <option value="8">C0</option>
                                    <option value="9">C-</option>
                                    <option value="10">D+</option>
                                    <option value="11">D0</option>
                                    <option value="12">D-</option>
                                    <option value="13">F</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <input class="inputScores" id="subject_degree2" type="text" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="inputScores" id="subject_name3" type="text" />
                        </td>
                        <td>
                            <div class="form-group">
                                <select id="subject_select3" class="custom-select" style="width:130px">
                                    <option selected="">점수</option>
                                    <option value="1">A+</option>
                                    <option value="2">A0</option>
                                    <option value="3">A-</option>
                                    <option value="4">B+</option>
                                    <option value="5">B0</option>
                                    <option value="6">B-</option>
                                    <option value="7">C+</option>
                                    <option value="8">C0</option>
                                    <option value="9">C-</option>
                                    <option value="10">D+</option>
                                    <option value="11">D0</option>
                                    <option value="12">D-</option>
                                    <option value="13">F</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <input class="inputScores" id="subject_degree3" type="text" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="inputScores" id="subject_name4" type="text" />
                        </td>
                        <td>
                            <div class="form-group">
                                <select id="subject_select4" class="custom-select" style="width:130px">
                                    <option selected="">점수</option>
                                    <option value="1">A+</option>
                                    <option value="2">A0</option>
                                    <option value="3">A-</option>
                                    <option value="4">B+</option>
                                    <option value="5">B0</option>
                                    <option value="6">B-</option>
                                    <option value="7">C+</option>
                                    <option value="8">C0</option>
                                    <option value="9">C-</option>
                                    <option value="10">D+</option>
                                    <option value="11">D0</option>
                                    <option value="12">D-</option>
                                    <option value="13">F</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <input class="inputScores" id="subject_degree4" type="text" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="inputScores" id="subject_name5" type="text" />
                        </td>
                        <td>
                            <div class="form-group">
                                <select id="subject_select5" class="custom-select" style="width:130px">
                                    <option selected="">점수</option>
                                    <option value="1">A+</option>
                                    <option value="2">A0</option>
                                    <option value="3">A-</option>
                                    <option value="4">B+</option>
                                    <option value="5">B0</option>
                                    <option value="6">B-</option>
                                    <option value="7">C+</option>
                                    <option value="8">C0</option>
                                    <option value="9">C-</option>
                                    <option value="10">D+</option>
                                    <option value="11">D0</option>
                                    <option value="12">D-</option>
                                    <option value="13">F</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <input class="inputScores" id="subject_degree5" type="text" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="inputScores" id="subject_name6" type="text" />
                        </td>
                        <td>
                            <div class="form-group">
                                <select id="subject_select6" class="custom-select" style="width:130px">
                                    <option selected="">점수</option>
                                    <option value="1">A+</option>
                                    <option value="2">A0</option>
                                    <option value="3">A-</option>
                                    <option value="4">B+</option>
                                    <option value="5">B0</option>
                                    <option value="6">B-</option>
                                    <option value="7">C+</option>
                                    <option value="8">C0</option>
                                    <option value="9">C-</option>
                                    <option value="10">D+</option>
                                    <option value="11">D0</option>
                                    <option value="12">D-</option>
                                    <option value="13">F</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <input class="inputScores" id="subject_degree6" type="text" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="inputScores" id="subject_name7" type="text" />
                        </td>
                        <td>
                            <div class="form-group">
                                <select id="subject_select7" class="custom-select" style="width:130px">
                                    <option selected="">점수</option>
                                    <option value="1">A+</option>
                                    <option value="2">A0</option>
                                    <option value="3">A-</option>
                                    <option value="4">B+</option>
                                    <option value="5">B0</option>
                                    <option value="6">B-</option>
                                    <option value="7">C+</option>
                                    <option value="8">C0</option>
                                    <option value="9">C-</option>
                                    <option value="10">D+</option>
                                    <option value="11">D0</option>
                                    <option value="12">D-</option>
                                    <option value="13">F</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <input class="inputScores" id="subject_degree7" type="text" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="inputScores" id="subject_name8" type="text" />
                        </td>
                        <td>
                            <div class="form-group">
                                <select id="subject_select8" class="custom-select" style="width:130px">
                                    <option selected="">점수</option>
                                    <option value="1">A+</option>
                                    <option value="2">A0</option>
                                    <option value="3">A-</option>
                                    <option value="4">B+</option>
                                    <option value="5">B0</option>
                                    <option value="6">B-</option>
                                    <option value="7">C+</option>
                                    <option value="8">C0</option>
                                    <option value="9">C-</option>
                                    <option value="10">D+</option>
                                    <option value="11">D0</option>
                                    <option value="12">D-</option>
                                    <option value="13">F</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <input class="inputScores" id="subject_degree8" type="text" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <button class="btn btn-success" onclick="score()">계산하기</button>
                        </td>
                    </tr>
                    <script>
                        function score(){
                            var inputScore1 = document.getElementById('subject_select1'),
                                inputScore2 = document.getElementById('subject_select2'),
                                inputScore3 = document.getElementById('subject_select3'),
                                inputScore4 = document.getElementById('subject_select4'),
                                inputScore5 = document.getElementById('subject_select5'),
                                inputScore6 = document.getElementById('subject_select6'),
                                inputScore7 = document.getElementById('subject_select7'),
                                inputScore8 = document.getElementById('subject_select8');

                            var credit1 = document.getElementById('subject_degree1'),
                                credit2 = document.getElementById('subject_degree2'),
                                credit3 = document.getElementById('subject_degree3'),
                                credit4 = document.getElementById('subject_degree4'),
                                credit5 = document.getElementById('subject_degree5'),
                                credit6 = document.getElementById('subject_degree6'),
                                credit7 = document.getElementById('subject_degree7'),
                                credit8 = document.getElementById('subject_degree8');

                            // 배열 추가
                            var credit = [Number(credit1.value), Number(credit2.value), Number(credit3.value), Number(credit4.value), Number(credit5.value), Number(credit6.value), Number(credit7.value), Number(credit8.value)];
                            var total_score = 0;
                            var score = [inputScore1.value, inputScore2.value, inputScore3.value, inputScore4.value, inputScore5.value, inputScore6.value, inputScore7.value, inputScore8.value];
                            var sum = 0;

                            for (var i = 0; i < 8; i++){
                                try{
                                    if (score[i] == 1){
                                        total_score += 4.3 * credit[i];
                                        sum += credit[i];
                                    } else if (score[i] == 2){
                                        total_score += 4.0 * credit[i];
                                        sum += credit[i];
                                    } else if (score[i] == 3){
                                        total_score += 3.7 * credit[i];
                                        sum += credit[i];
                                    } else if (score[i] == 4){
                                        total_score += 3.3 * credit[i];
                                        sum += credit[i];
                                    } else if (score[i] == 5){
                                        total_score += 3.0 * credit[i];
                                        sum += credit[i];
                                    } else if (score[i] == 6){
                                        total_score += 2.7 * credit[i];
                                        sum += credit[i];
                                    } else if (score[i] == 7){
                                        total_score += 2.3 * credit[i];
                                        sum += credit[i];
                                    } else if (score[i] == 8){
                                        total_score += 2.0 * credit[i];
                                        sum += credit[i];
                                    } else if (score[i] == 9){
                                        total_score += 1.7 * credit[i];
                                        sum += credit[i];
                                    } else if (score[i] == 10){
                                        total_score += 1.3 * credit[i];
                                        sum += credit[i];
                                    } else if (score[i] == 11){
                                        total_score += 1.0 * credit[i];
                                        sum += credit[i];
                                    } else if (score[i] == 12){
                                        total_score += 0.7 * credit[i];
                                        sum += credit[i];
                                    } else {
                                        continue;
                                    }
                                }
                                catch(e){
                                    continue;
                                }
                            }

                            var num = Number({{final_grade[0]}}) + sum;
                            var grade = ({{final_grade[0]}} * {{final_grade[1]}} + total_score ) / num;
                            var result = document.getElementById('result_sumdeg');
                            var deg = document.getElementById('result_deg');
                            var now_result = document.getElementById('result_nowdeg');

                            //result.innerHTML = "테스트";
                            now_result.innerHTML = (total_score/sum).toFixed(2);
                            result.innerHTML = num + "/150";
                            deg.innerHTML = grade.toFixed(2) + "/4.3";

                        }
                    </script>
                </table>
                <!-- 계산 결과 테이블 -->
                <table class="table table-hover">
                    <tr>
                        계산결과
                    </tr>
                    <thead>
                        <th style="font-size:20px; text-align:center" width="33%">이번학기 학점</th>
                        <th style="font-size:20px; text-align:center" width="33%">이수학점</th>
                        <th style="font-size:20px; text-align:center" width="33%">평점</th>
                    </thead>
                    <tbody>
                        <tr style="font-size: 17px; text-align:center">
                            <td>
                                <span id="result_nowdeg" style="color:rgb(114, 50, 50)"></span>
                            </td>
                            <td>
                                <span id="result_sumdeg" style="color:teal"></span>
                            </td>
                            <td>
                                <span id="result_deg" style="color:rgb(21, 79, 185)"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- 전체 학점 및 과목 정보 박스 -->
        <div id="info1" class="infoSection_all" style="overflow:scroll; float:left">

            <p style="text-align:center; font-size :23px;
            border-radius:8px; padding:5px;
            color:white;
            background-color: rgb(108, 107, 179);">
                내가 수강한 과목들
            </p>
            <div id="all_data">
                <table id="all_data_table" class="table table-hover">
                    <thead>
                        <th style="text-align:center" width="10%">과목번호</th>
                        <th style="text-align:center" width="17%">개설학과</th>
                        <th style="text-align:center" width="17%">교과목명</th>
                        <th style="text-align:center" width="12%">교과구분</th>
                        <th style="text-align:center" width="10%">학점</th>
                        <th style="text-align:center" width="10%">학기</th>
                        <th style="text-align:center" width="10%">평점</th>
                        <th style="text-align:center" width="10%">재이수</th>
                    </thead>
                    <tbody>
                        {% for tr in grade_array %}
                        <tr>
                            {% for td in tr %}
                            <td style="text-align:center">
                                {{td}}
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- 졸업요건 설명 텍스트박스 -->
        <div id="simple_right">
            <p style="font-size:14px;">
                ● 졸업 시 총 이수학점은 <span style="color:rgb(26, 26, 224)">150</span>학점을 충족해야 하며,
                그 중에서 ABEEK 이수학점이 <span style="color:rgb(35, 74, 182)">112</span>학점 포함되어야 합니다.
            </p>
            <p style="font-size:14px;">
                ● <span style="color:rgb(35, 74, 182)">ABEEK 112학점</span>은 기본소양 15학점(외국어 제외),
                전공기반 22학점, 공학전공 75학점으로 채워야 합니다.
            </p>
            <p style="font-size:14px;">
                ● ABEEK의 <span style="color:rgb(35, 74, 182)">전공기반, 공학전공</span>에는 학점 충족 수와 관계없이 반드시 수강해야 하는
                <span style="color:rgb(35, 74, 182)">필수과목</span>이 존재합니다.
            </p>
            <p style="font-size:12px;">
                · <span style="color:rgb(35, 74, 182)">전공기반 필수</span> : 수학1, 물리학1, 물리학실험1(or 기초공학물리학실험), 이산수학
            </p>
            <p style="font-size:12px;">
                · <span style="color:rgb(35, 74, 182)">공학전공 필수</span> : 기초프로그래밍(or 프로그래밍기초), 자료구조, 자바프로그래밍, 시스템프로그래밍,
                컴퓨터구조, 운영체제, 알고리즘1
            </p>
            <p style="font-size:14px;">
                ● 공학전공에는 설계 학점이라는 것이 별도로 존재하며, <span style="color:rgb(35, 74, 182)">설계 학점</span>을 부여받는 과목을 <span
                    style="color:rgb(35, 74, 182)">총 16학점</span> 이수해야 합니다.
            </p>
            <p style="font-size:12px;">
                · <span style="color:rgb(35, 74, 182)">필수 설계과목</span> : 기초창의공학설계(설계2학점), 자바프로그래밍(설계2학점),
                시스템프로그래밍(설계2학점),
                종합설계프로젝트1,2(각각 설계 4학점)
            </p>
            <p style="font-size:12px;">
                · 위의 필수 설계과목을 모두 이수하면 14학점이며, 나머지 학점은 다른 설계과목으로 추가 이수하여야 합니다.
            </p>
        </div>


    </div>
    </div>

</body>

<script>

    var c = {
        4.30: 4.50, 3.70: 4.00, 4.29: 4.49, 3.69: 3.99,
        4.28: 4.48, 3.68: 3.97, 4.27: 4.48, 3.67: 3.96,
        4.26: 4.47, 3.66: 3.95, 4.25: 4.46, 3.65: 3.94,
        4.24: 4.45, 3.64: 3.92, 4.23: 4.44, 3.63: 3.91,
        4.22: 4.43, 3.62: 3.90, 4.21: 4.43, 3.61: 3.89,
        4.20: 4.42, 3.60: 3.87, 4.19: 4.41, 3.59: 3.86,
        4.18: 4.40, 3.58: 3.85, 4.17: 4.39, 3.57: 3.84,
        4.16: 4.38, 3.56: 3.82, 4.15: 4.38, 3.55: 3.81,
        4.14: 4.37, 3.54: 3.80, 4.13: 4.36, 3.53: 3.79,
        4.12: 4.35, 3.52: 3.77, 4.11: 4.34, 3.51: 3.76,
        4.10: 4.33, 3.50: 3.75, 4.09: 4.33, 3.49: 3.74,
        4.08: 4.32, 3.48: 3.72, 4.07: 4.31, 3.47: 3.71,
        4.06: 4.30, 3.46: 3.70, 4.05: 4.29, 3.45: 3.69,
        4.04: 4.28, 3.44: 3.67, 4.03: 4.28, 3.43: 3.66,
        4.02: 4.27, 3.42: 3.65, 4.01: 4.26, 3.41: 3.64,
        4.00: 4.25, 3.40: 3.62, 3.99: 4.24, 3.39: 3.61,
        3.98: 4.23, 3.38: 3.60, 3.97: 4.23, 3.37: 3.59,
        3.96: 4.22, 3.36: 3.57, 3.95: 4.21, 3.35: 3.56,
        3.94: 4.20, 3.34: 3.55, 3.93: 4.19, 3.33: 3.54,
        3.92: 4.18, 3.32: 3.52, 3.91: 4.18, 3.31: 3.51,
        3.90: 4.17, 3.30: 3.50, 3.89: 4.16, 3.29: 3.49,
        3.88: 4.15, 3.28: 3.48, 3.87: 4.14, 3.27: 3.48,
        3.86: 4.13, 3.26: 3.47, 3.85: 4.13, 3.25: 3.46,
        3.84: 4.12, 3.24: 3.45, 3.83: 4.11, 3.23: 3.44,
        3.82: 4.10, 3.22: 3.43, 3.81: 4.09, 3.21: 3.43,
        3.80: 4.08, 3.20: 3.42, 3.79: 4.08, 3.19: 3.41,
        3.78: 4.07, 3.18: 3.40, 3.77: 4.06, 3.17: 3.39,
        3.76: 4.05, 3.16: 3.38, 3.75: 4.04, 3.15: 3.38,
        3.74: 4.03, 3.14: 3.37, 3.73: 4.03, 3.13: 3.36,
        3.72: 4.02, 3.12: 3.35, 3.71: 4.01, 3.11: 3.34,
        3.10: 3.33, 3.09: 3.33, 3.08: 3.32, 3.07: 3.31,
        3.06: 3.30, 3.05: 3.29, 3.04: 3.28, 3.03: 3.28,
        3.02: 3.27, 3.01: 3.26, 3.00: 3.25, 2.99: 3.24,
        2.98: 3.23, 2.97: 3.23, 2.96: 3.22, 2.95: 3.21,
        2.94: 3.20, 2.93: 3.19, 2.92: 3.18, 2.91: 3.18,
        2.90: 3.17, 2.89: 3.16, 2.88: 3.15, 2.87: 3.14,
        2.86: 3.13, 2.85: 3.13, 2.84: 3.12, 2.83: 3.11,
        2.82: 3.10, 2.81: 3.09, 2.80: 3.08, 2.79: 3.08,
        2.78: 3.07, 2.77: 3.06, 2.76: 3.05, 2.75: 3.04,
        2.74: 3.03, 2.73: 3.03, 2.72: 3.02, 2.71: 3.01,
        2.70: 3.00, 1.70: 2.00, 0.70: 1.00, 2.69: 2.99,
        1.69: 1.99, 0.69: 0.99, 2.68: 2.97, 1.68: 1.97,
        0.68: 0.97, 2.67: 2.96, 1.67: 1.96, 0.67: 0.96,
        2.66: 2.95, 1.66: 1.95, 0.66: 0.95, 2.65: 2.94,
        1.65: 1.94, 0.65: 0.94, 2.64: 2.92, 1.64: 1.92,
        0.64: 0.92, 2.63: 2.91, 1.63: 1.91, 0.63: 0.91,
        2.62: 2.90, 1.62: 1.90, 0.62: 0.90, 2.61: 2.89,
        1.61: 1.89, 0.61: 0.89, 2.60: 2.87, 1.60: 1.87,
        0.60: 0.87, 2.59: 2.86, 1.59: 1.86, 0.59: 0.86,
        2.58: 2.85, 1.58: 1.85, 0.58: 0.85, 2.57: 2.84,
        1.57: 1.84, 0.57: 0.84, 2.56: 2.82, 1.56: 1.82,
        0.56: 0.82, 2.55: 2.81, 1.55: 1.81, 0.55: 0.81,
        2.54: 2.80, 1.54: 1.80, 0.54: 0.80, 2.53: 2.79,
        1.53: 1.79, 0.53: 0.79, 2.52: 2.77, 1.52: 1.77,
        0.52: 0.77, 2.51: 2.76, 1.51: 1.76, 0.51: 0.76,
        2.50: 2.75, 1.50: 1.75, 0.50: 0.75, 2.49: 2.74,
        1.49: 1.74, 0.49: 0.74, 2.48: 2.72, 1.48: 1.72,
        0.48: 0.72, 2.47: 2.71, 1.47: 1.71, 0.47: 0.71,
        2.46: 2.70, 1.46: 1.70, 0.46: 0.70, 2.45: 2.69,
        1.45: 1.69, 0.45: 0.69, 2.44: 2.67, 1.44: 1.67,
        0.44: 0.67, 2.43: 2.66, 1.43: 1.66, 0.43: 0.66,
        2.42: 2.65, 1.42: 1.65, 0.42: 0.65, 2.41: 2.64,
        1.41: 1.64, 0.41: 0.64, 2.40: 2.62, 1.40: 1.62,
        0.40: 0.62, 2.39: 2.61, 1.39: 1.61, 0.39: 0.61,
        2.38: 2.60, 1.38: 1.60, 0.38: 0.60, 2.37: 2.59,
        1.37: 1.59, 0.37: 0.59, 2.36: 2.57, 1.36: 1.57,
        0.36: 0.57, 2.35: 2.56, 1.35: 1.56, 0.35: 0.56,
        2.34: 2.55, 1.34: 1.55, 0.34: 0.55, 2.33: 2.54,
        1.33: 1.54, 0.33: 0.54, 2.32: 2.52, 1.32: 1.52,
        0.32: 0.52, 2.31: 2.51, 1.31: 1.51, 0.31: 0.51,
        2.30: 2.50, 1.30: 1.50, 0.30: 0.50, 2.29: 2.49,
        1.29: 1.49, 2.28: 2.48, 1.28: 1.48, 2.27: 2.48,
        1.27: 1.48, 2.26: 2.47, 1.26: 1.47, 2.25: 2.46,
        1.25: 1.46, 2.24: 2.45, 1.24: 1.45, 2.23: 2.44,
        1.23: 1.44, 2.22: 2.43, 1.22: 1.43, 2.21: 2.43,
        1.21: 1.43, 2.20: 2.42, 1.20: 1.42, 2.19: 2.41,
        1.19: 1.41, 2.18: 2.40, 1.18: 1.40, 2.17: 2.39,
        1.17: 1.39, 2.16: 2.38, 1.16: 1.38, 2.15: 2.38,
        1.15: 1.38, 2.14: 2.37, 1.14: 1.37, 2.13: 2.36,
        1.13: 1.36, 2.12: 2.35, 1.12: 1.35, 2.11: 2.34,
        1.11: 1.34, 2.10: 2.33, 1.10: 1.33, 2.09: 2.33,
        1.09: 1.33, 2.08: 2.32, 1.08: 1.32, 2.07: 2.31,
        1.07: 1.31, 2.06: 2.30, 1.06: 1.30, 2.05: 2.29,
        1.05: 1.29, 2.04: 2.28, 1.04: 1.28, 2.03: 2.28,
        1.03: 1.28, 2.02: 2.27, 1.02: 1.27, 2.01: 2.26,
        1.01: 1.26, 2.00: 2.25, 1.00: 1.25, 1.99: 2.24,
        0.99: 1.24, 1.98: 2.23, 0.98: 1.23, 1.97: 2.23,
        0.97: 1.23, 1.96: 2.22, 0.96: 1.22, 1.95: 2.21,
        0.95: 1.21, 1.94: 2.20, 0.94: 1.20, 1.93: 2.19,
        0.93: 1.19, 1.92: 2.18, 0.92: 1.18, 1.91: 2.18,
        0.91: 1.18, 1.90: 2.17, 0.90: 1.17, 1.89: 2.16,
        0.89: 1.16, 1.88: 2.15, 0.88: 1.15, 1.87: 2.14,
        0.87: 1.14, 1.86: 2.13, 0.86: 1.13, 1.85: 2.13,
        0.85: 1.13, 1.84: 2.12, 0.84: 1.12, 1.83: 2.11,
        0.83: 1.11, 1.82: 2.10, 0.82: 1.10, 1.81: 2.09,
        0.81: 1.09, 1.80: 2.08, 0.80: 1.08, 1.79: 2.08,
        0.79: 1.08, 1.78: 2.07, 0.78: 1.07, 1.77: 2.06,
        0.77: 1.06, 1.76: 2.05, 0.76: 1.05, 1.75: 2.04,
        0.75: 1.04, 1.74: 2.03, 0.74: 1.03, 1.73: 2.03,
        0.73: 1.03, 1.72: 2.02, 0.72: 1.02, 1.71: 2.01,
        0.71: 1.01,
    }

    function converts(grade) {
        return c[grade];
    }

    function convert_grade() {
        var grades = document.getElementById("input_4_3").value
        var conv_grades = converts(grades)
        document.getElementById("output_4_3").value = conv_grades;
    }


</script>

<script>
    am4core.ready(function () {

        // Themes begin
        am4core.useTheme(am4themes_animated);
        // Themes end

        var chart = am4core.create('chartdiv', am4charts.XYChart)

        chart.colors.step = 2;

        chart.legend = new am4charts.Legend()
        chart.legend.position = 'top'
        chart.legend.paddingBottom = 20
        chart.legend.labels.template.maxWidth = 95

        var xAxis = chart.xAxes.push(new am4charts.CategoryAxis())
        xAxis.dataFields.category = 'category'
        xAxis.renderer.cellStartLocation = 0.1
        xAxis.renderer.cellEndLocation = 0.9
        xAxis.renderer.grid.template.location = 0;

        var yAxis = chart.yAxes.push(new am4charts.ValueAxis());
        yAxis.min = 0;

        function createSeries(value, name) {
            var series = chart.series.push(new am4charts.ColumnSeries())
            series.dataFields.valueY = value
            series.dataFields.categoryX = 'category'
            series.name = name

            series.events.on("hidden", arrangeColumns);
            series.events.on("shown", arrangeColumns);

            var bullet = series.bullets.push(new am4charts.LabelBullet())
            bullet.interactionsEnabled = false
            bullet.dy = 30;
            bullet.label.text = '{valueY}'
            bullet.label.fill = am4core.color('#ffffff')

            return series;
        }

        chart.data = [
            {
                category: '기본소양',
                first: {{ final_grade[4]}},
        second: 15,
        },
        {
            category: '전공기반',
            first: {{ final_grade[5]}},
        second: 22,
        },
        {
            category: '공학전공',
            first: {{ final_grade[6]}},
        second: 75,
        },
        {
            category: '합계',
            first: {{ final_grade[4]}} + {{ final_grade[5]}} + {{ final_grade[6]}},
        second: 112,
        }
    ]


        createSeries('first', '현재학점');
    createSeries('second', '필요학점');

    function arrangeColumns() {

        var series = chart.series.getIndex(0);

        var w = 1 - xAxis.renderer.cellStartLocation - (1 - xAxis.renderer.cellEndLocation);
        if (series.dataItems.length > 1) {
            var x0 = xAxis.getX(series.dataItems.getIndex(0), "categoryX");
            var x1 = xAxis.getX(series.dataItems.getIndex(1), "categoryX");
            var delta = ((x1 - x0) / chart.series.length) * w;
            if (am4core.isNumber(delta)) {
                var middle = chart.series.length / 2;

                var newIndex = 0;
                chart.series.each(function (series) {
                    if (!series.isHidden && !series.isHiding) {
                        series.dummyData = newIndex;
                        newIndex++;
                    }
                    else {
                        series.dummyData = chart.series.indexOf(series);
                    }
                })
                var visibleCount = newIndex;
                var newMiddle = visibleCount / 2;

                chart.series.each(function (series) {
                    var trueIndex = chart.series.indexOf(series);
                    var newIndex = series.dummyData;

                    var dx = (newIndex - trueIndex + middle - newMiddle) * delta

                    series.animate({ property: "dx", to: dx }, series.interpolationDuration, series.interpolationEasing);
                    series.bulletsContainer.animate({ property: "dx", to: dx }, series.interpolationDuration, series.interpolationEasing);
                })
            }
        }
    }
    }); // end am4core.ready()
</script>

<script>
    am4core.ready(function () {

        // Themes begin
        am4core.useTheme(am4themes_animated);
        // Themes end

        var chart = am4core.create('chartdiv2', am4charts.XYChart)

        chart.colors.step = 2;

        chart.legend = new am4charts.Legend()
        chart.legend.position = 'top'
        chart.legend.paddingBottom = 20
        chart.legend.labels.template.maxWidth = 95

        var xAxis = chart.xAxes.push(new am4charts.CategoryAxis())
        xAxis.dataFields.category = 'category'
        xAxis.renderer.cellStartLocation = 0.1
        xAxis.renderer.cellEndLocation = 0.9
        xAxis.renderer.grid.template.location = 0;

        var yAxis = chart.yAxes.push(new am4charts.ValueAxis());
        yAxis.min = 0;

        function createSeries(value, name) {
            var series = chart.series.push(new am4charts.ColumnSeries())
            series.dataFields.valueY = value
            series.dataFields.categoryX = 'category'
            series.name = name

            series.events.on("hidden", arrangeColumns);
            series.events.on("shown", arrangeColumns);

            var bullet = series.bullets.push(new am4charts.LabelBullet())
            bullet.interactionsEnabled = false
            bullet.dy = 30;
            bullet.label.text = '{valueY}'
            bullet.label.fill = am4core.color('#ffffff')

            return series;
        }

        chart.data = [
            {
                category: '설계과목',
                first: {{ design_count }},
        second: 16,
        },
        {
            category: '필수과목',
            first: {{ required_count }},
        second: 44,
        },
    ]


        createSeries('first', '현재학점');
    createSeries('second', '필요학점');

    function arrangeColumns() {

        var series = chart.series.getIndex(0);

        var w = 1 - xAxis.renderer.cellStartLocation - (1 - xAxis.renderer.cellEndLocation);
        if (series.dataItems.length > 1) {
            var x0 = xAxis.getX(series.dataItems.getIndex(0), "categoryX");
            var x1 = xAxis.getX(series.dataItems.getIndex(1), "categoryX");
            var delta = ((x1 - x0) / chart.series.length) * w;
            if (am4core.isNumber(delta)) {
                var middle = chart.series.length / 2;

                var newIndex = 0;
                chart.series.each(function (series) {
                    if (!series.isHidden && !series.isHiding) {
                        series.dummyData = newIndex;
                        newIndex++;
                    }
                    else {
                        series.dummyData = chart.series.indexOf(series);
                    }
                })
                var visibleCount = newIndex;
                var newMiddle = visibleCount / 2;

                chart.series.each(function (series) {
                    var trueIndex = chart.series.indexOf(series);
                    var newIndex = series.dummyData;

                    var dx = (newIndex - trueIndex + middle - newMiddle) * delta

                    series.animate({ property: "dx", to: dx }, series.interpolationDuration, series.interpolationEasing);
                    series.bulletsContainer.animate({ property: "dx", to: dx }, series.interpolationDuration, series.interpolationEasing);
                })
            }
        }
    }
    }); // end am4core.ready()
</script>


</html>