<!DOCTYPE html>
<meta charset="utf-8">

<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<head>
    <script type="text/javascript" src="../static/js/jquery-3.5.0.min.js"></script>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/font.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <link href="../static/css/main.css" type="text/css" rel="stylesheet">
    <title>KNU CSE PUZZLE</title>
</head>

<body>

    <div id="content" style="width:100%; margin:0 auto;">

        <!-- 상단 고정 내비게이션 부분 -->
        <div class="nav-main">
            <!-- 상단 로고 부분 : 좌측에 배치 -->
            <div id="top_logo">
                <a href="/"><img id="logoImg" src="../static/images/logo.png" width="190" height="51"></a>
            </div>
            <div class="login_section">
                {% if usr_id == "로그인이 필요합니다" %}
                    <span style="color:rgb(12, 100, 85); font-size: 17px; font-weight:800">로그인</span>
                    <button onClick="location.href='/login'" class="btn btn-primary btn-success"><i class="fas fa-power-off"></i></button>
                {% else %}
                    <i style="color:teal" class="fas fa-user-check"></i> {{ usr_id }} 님
                    <button onClick="location.href='/logout'" class="btn btn-primary btn-danger"><i class="fas fa-power-off"></i></button>
                {% endif %}
            </div>

        </div>

        <!-- 상단 배너 이미지 부분 -->
        <div class="banner_img">
            <img id="bannerImgId" style="margin-top:15px; max-width: 100%;" src="../static/images/notice.png">
        </div>
        <!-- 배너 이미지 하단 메뉴 내비게이션 -->
        <div class="banner_nav">
            <ul class="banner-nav-container">
                <li class="banner-nav-item"><a id="nav_li_notice" href="/notice" target="contentFrame"><i
                            class="fas fa-home"></i>
                        공지사항</a></li>
                <li class="banner-nav-item"><a id="nav_li_meal" href="/mealmenu" target="contentFrame"><i
                            class="fas fa-calendar-minus"></i>
                        식단표</a></li>
                <li class="banner-nav-item"><a id="nav_li_map" href="/schoolmap" target="contentFrame"><i
                            class="fas fa-map-marked-alt"></i>
                        교내 지도</a></li>
                <li class="banner-nav-item"><a id="nav_li_link" href="/sitelink" target="contentFrame"><i
                            class="fas fa-link"></i>
                        링크 모음</a></li>

                {% if usr_id == "로그인이 필요합니다" %}        
                <li class="banner-nav-item"><a id="none_aca" style="color:rgb(15, 66, 124)">
                    <i class="fas fa-info-circle"></i>
                        학업정보</a>
                </li>
                {% else %}
                <li class="banner-nav-item"><a id="nav_li_aca" style="color:rgb(15, 66, 124)" href="/acainfo"
                    target="contentFrame"><i class="fas fa-info-circle"></i>
                        학업정보</a>
                </li>
                {% endif %}
            </ul>
        </div>

        <!-- iframe -->
        <div style="display:block">
            <iframe src="/notice" name="contentFrame"
                style="margin-top:1em; overflow-x:hidden; overflow:auto; width:100%; min-height:1000px;" scrolling="yes"
                frameborder="0"></iframe>
        </div>


    </div>

</body>

<script type="text/javascript">

    var $nav_li_aca = $('#nav_li_aca');
    var $nav_li_link = $('#nav_li_link');
    var $nav_li_map = $('#nav_li_map');
    var $nav_li_meal = $('#nav_li_meal');
    var $nav_li_notice = $('#nav_li_notice');

    var $bannerImgId = $('#bannerImgId');
    var $none_aca = $('#none_aca');

    $none_aca.click(function () { // html 내에서 open이라는 id를 가진 요소를 클릭할 시 발생하는 이벤트 함수   
        alert('로그인이 필요한 기능입니다.')
    });

    $nav_li_notice.click(function () { // html 내에서 open이라는 id를 가진 요소를 클릭할 시 발생하는 이벤트 함수   
        $bannerImgId.css('opacity', '0.6').stop().attr("src", "../static/images/notice.png").animate({ opacity: 1 }, 250);
    });
    $nav_li_link.click(function () { // html 내에서 open이라는 id를 가진 요소를 클릭할 시 발생하는 이벤트 함수         
        $bannerImgId.css('opacity', '0.6').stop().attr("src", "../static/images/links.png").animate({ opacity: 1 }, 250);
    });
    $nav_li_aca.click(function () { // html 내에서 open이라는 id를 가진 요소를 클릭할 시 발생하는 이벤트 함수
        $bannerImgId.css('opacity', '0.6').stop().attr("src", "../static/images/acainfo.png").animate({ opacity: 1 }, 250);
    });
    $nav_li_map.click(function () { // html 내에서 open이라는 id를 가진 요소를 클릭할 시 발생하는 이벤트 함수
        $bannerImgId.css('opacity', '0.6').stop().attr("src", "../static/images/maps.png").animate({ opacity: 1 }, 250);
    });
    $nav_li_meal.click(function () { // html 내에서 open이라는 id를 가진 요소를 클릭할 시 발생하는 이벤트 함수
        $bannerImgId.css('opacity', '0.6').stop().attr("src", "../static/images/mealmenu.png").animate({ opacity: 1 }, 250);
    });


</script>

</html>