<!DOCTYPE html>
<meta charset="utf-8">

<html>
<meta charset="UTF-8">

<head>
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/css/font.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">

  <title>KNU CSE PUZZLE</title>
  <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=0fqa69fzdm"></script>

  <style>
    body,
    p {
      font-family: "NanumSquareRoundB";
      animation: fadein 0.5s;
    }

    #banner {
      width: 100%;
      height: 150px;
      max-width: 1400px;
      background-color: lightgray;
      margin-bottom: 1em;
    }

    .mapSection {
      float: left;
      width: 100%;
      max-width: 1400px;
      height: 700px;
      border: 1px solid lightgray;
      padding: 10px;
    }

    @keyframes fadein {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    .footer {
      padding: 10px;
      display: block;
      width: 100%;
      max-width: 900px;
      text-align: center;
      border-top: 1px solid #aaa;
      margin: 0 auto;
      font-size: 12px;
    }

    table.type11 {
      border-collapse: separate;
      border-spacing: 1px;
      text-align: center;
      line-height: 1.5;
      margin: 20px 10px;
    }

    table.type11 td {
      width: 155px;
      padding: 10px;
      vertical-align: top;
      border-bottom: 1px solid #ccc;
      background: #eee;
    }

    table.type11 th {
      width: 155px;
      padding: 10px;
      font-weight: bold;
      vertical-align: top;
      color: #fff;
      background: #4b3896;
    }
  </style>
</head>

<body>
  <div id="content" style="max-width:1400px; margin:0 auto;">
    <!-- 페이지 배너 -->
    <!-- 지도가 보일 박스 컨테이너 -->
    <div id="map" class="mapSection" style="display:block; margin-bottom:15px;">

    </div>
  </div>

  <script>
    var mapOptions = {
      center: new naver.maps.LatLng(35.889014, 128.610246),
      zoom: 16, //지도의 초기 줌 레벨
      minZoom: 7, //지도의 최소 줌 레벨
      zoomControl: true, //줌 컨트롤의 표시 여부
      zoomControlOptions: { //줌 컨트롤의 옵션
        position: naver.maps.Position.TOP_RIGHT
      }
    };

    var map = new naver.maps.Map('map', mapOptions);
    var infoWindows = [];
    var markers = [];

    // marker
    var marker = []
    var information = []

    var marker1 = new naver.maps.Marker({
      position: new naver.maps.LatLng(35.886935, 128.608488), // 9호관
      map: map,
      title: "test",
      icon: {
        url: './marker.png',
      }
    })
    var marker2 = new naver.maps.Marker({
      position: new naver.maps.LatLng(35.888147, 128.611533), // 융복합관
      map: map,
      text: "test",
      icon: {
        url: '../image/marker.png',
      }
    })

    var marker3 = new naver.maps.Marker({
      position: new naver.maps.LatLng(35.891722, 128.612005), // 중앙도서관
      map: map,
      icon: {
        url: '../image/marker.png',
      }
    })

    // information
    var information1 = new naver.maps.InfoWindow({
      content: '공대9호관',
    });
    var information2 = new naver.maps.InfoWindow({
      content: '공대5호관(IT융복합관)',
    });
    var information3 = new naver.maps.InfoWindow({
      content: '중앙도서관',
    });
    marker.push(marker1);
    marker.push(marker2);
    marker.push(marker3);
    information.push(information1);
    information.push(information2);
    information.push(information3);

    naver.maps.Event.addListener(marker[0], "click", function (e) {
      if (information[0].getMap()) {
        information[0].close();
      } else {
        information[0].open(map, marker[0]);
      }
    });
    naver.maps.Event.addListener(marker[1], "click", function (e) {
      if (information[1].getMap()) {
        information[1].close();
      } else {
        information[1].open(map, marker[1]);
      }
    });
    naver.maps.Event.addListener(marker[2], "click", function (e) {
      if (information[2].getMap()) {
        information[2].close();
      } else {
        information[2].open(map, marker[2]);
      }
    });
  </script>

  <div class="footer">
    <br>
    <p><br>주소 : 우)41566 대구광역시 북구 대학로 80 경북대학교</p>

    <div style="padding:5px; border-radius:6px; border:1px solid lightgray">
      <p style="padding:8px; font-size:17px;
    color:black;
    border-radius:5px;
    background-color:rgb(225, 224, 226)">동대구역 ▶ 경북대</p>
      <div class="txt1 right">
        <p style="font-size:14px;">
          <span style="padding:4px; color:white; border-radius:5px;
      background-color:rgb(64, 160, 107)"><i class="fas fa-bus"></i>
            버스노선</span> 937 (15분 소요)</p>

        <p style="font-size:14px;">
          <span style="padding:4px; border-radius:5px;
        background-color:rgb(233, 162, 56)">
            <i class="fas fa-taxi"></i> 택시</span> 10분 소요</p>
        <p>
      </div>
    </div>

    <br>
    <div style="padding:5px; border-radius:6px; border:1px solid lightgray">
      <p style="padding:8px; font-size:17px;
    color:black;
    border-radius:5px;
    background-color:rgb(225, 224, 226)">대구역 ▶ 경북대</p>
      <div class="txt1 right">
        <p style="font-size:14px;">
          <span style="padding:4px; color:white; border-radius:5px;
        background-color:rgb(64, 160, 107)"><i class="fas fa-bus"></i>
            버스노선</span> 북구2, 503, 410, 706 (25분 소요)</p>

        <p style="font-size:14px;">
          <span style="padding:4px; border-radius:5px;
        background-color:rgb(233, 162, 56)">
            <i class="fas fa-taxi"></i> 택시</span> 15분 소요</p>
      </div>
    </div>
    <br>
    <div style="padding:5px; border-radius:6px; border:1px solid lightgray">
      <p style="padding:8px; font-size:17px;
    color:black;
    border-radius:5px;
    background-color:rgb(225, 224, 226)">대구공항 ▶ 경북대</p>
      <div class="txt1 right">
        <p style="font-size:14px;">
          <span style="padding:4px; color:white; border-radius:5px;
      background-color:rgb(64, 160, 107)"><i class="fas fa-bus"></i>
            버스노선</span> 719, 동구2 (20분 소요)</p>

        <p style="font-size:14px;">
          <span style="padding:4px; border-radius:5px;
        background-color:rgb(233, 162, 56)">
            <i class="fas fa-taxi"></i> 택시</span> 15분 소요</p>
        <p>
      </div>
    </div>
    <br>
    <div style="padding:5px; border-radius:6px; border:1px solid lightgray">
      <p style="padding:8px; font-size:17px;
    color:black;
    border-radius:5px;
    background-color:rgb(217, 203, 231)">지하철 + 버스</p>
      <div class="txt1 right">
        <table style="margin: 0 auto" class="type11" title="지하철+버스 이용시 안내" summary="지하철과 버스로 환승할 경우 학교로 오는 노선번호 안내">
          <colgroup>
            <col width="33%">
            <col width="33%">
            <col width="33%">
          </colgroup>
          <thead>
              <th style="text-align:center" scope="col">1호선 칠성시장역 3번출구</th>
              <th style="text-align:center" scope="col">1호선 신천역 5번출구</th>
              <th style="text-align:center" scope="col">2호선 경대병원역 4번출구</th>
          </thead>
          <tbody>
            <tr>
              <td>
                [정문] 동구2, 북구2
              </td>
              <td>
                [정문,서문,북문] 410-1
              </td>
              <td>
                [서문] 306, 403
              </td>
            </tr>
            <tr>
              <td>
                [서문] 306, 403
              </td>
              <td>
                [정문] 410-1, 동구2
              </td>
              <td>
                [북문] 306 
              </td>
            </tr>
            <tr>
              <td>
                [북문] 306
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>

    <br>
    <div style="padding:5px; border-radius:6px; border:1px solid lightgray">
      <p style="padding:8px; font-size:17px;
    color:black;
    border-radius:5px;
    background-color:rgb(217, 203, 231)">고속버스</p>
      <div class="txt1 right">
       
        <table style="margin: 0 auto" class="type11" title="지하철+버스 이용시 안내" summary="지하철과 버스로 환승할 경우 학교로 오는 노선번호 안내">
          <colgroup>
            <col width="24%">
            <col width="28%">
            <col width="24%">
            <col width="24%">
          </colgroup>
          <thead>
              <th style="text-align:center" scope="col">동대구고속터미널</th>
              <th style="text-align:center" scope="col">서부정류장</th>
              <th style="text-align:center" scope="col">동부정류장</th>
              <th style="text-align:center" scope="col">북부정류장</th>
          </thead>
          <tbody>
            <tr>
              <td>
                [정문] 937
              </td>
              <td>
                [서문] 306,623,706,급행6
              </td>
              <td>
                [정문] 937
              </td>
              <td>
                [서문] 323
              </td>
            </tr>

            <tr>
              <td>
                [서문] 순환2-1
              </td>
              <td>
                [북문] 306,706,급행6
              </td>
              <td>
                [서문] 순환2-1
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
    <br>
    <div style="padding:5px; border-radius:6px; border:1px solid lightgray">
      <p style="padding:8px; font-size:17px;
    color:black;
    border-radius:5px;
    background-color:rgb(190, 229, 247)">시내버스</p>
       <table class="table table-hover" style="margin-bottom:-0.5px; ">
         <tr>
          <td style="font-size:14px; background-color:rgb(241, 241, 241)">정문</td>
          <td>
            410, 410-1, 503, 937, 동구2, 북구2
          </td>
         </tr>
         <tr>
          <td style="font-size:14px; background-color:rgb(241, 241, 241)">북문</td>
          <td>
            300, 306, 410, 410-1, 523, 706, 719, 급행6
          </td>
        </tr>
        <tr>
          <td style="font-size:14px; background-color:rgb(241, 241, 241)">서문</td>
          <td>
            300, 306, 323-1, 410, 410-1, 523, 706, 719
          </td>
        </tr>
       </table>
    </div>
    
</body>

</html>